* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.admin__sidebar {
    padding: 20px;
    width: 450px;
    height: 100vh;
    overflow-y: scroll;
    background: #494B4D;
}

.admin__sidebar ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.admin__sidebar ul a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.admin__data{
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    font-weight: bold;
}
.main {
    display: flex;
}


table {
    width: 100%;
}

.main__field {
    color: blue
}


.admin__sidebar a.active{
    color: blueviolet !important;
    border: 1px solid black;
    padding:  10px 5px;
}


.login__container {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;


 }
 .login__container form {
    width: 40%;

}
